section#animation {
  position  : fixed;
  top       : 8px;
  left      : 360px;
  background-color  : #F8F7F3; /* effet papier */
  width     : 900px;
  height    : 430px;
  border    : 15px solid black;
}