section#animation {
  position  : fixed;
  top       : 8px;
  left      : 0px;
  background-color  : #F8F7F3; /* effet papier */
  width     : 900px;
  height    : 430px;
  border    : 15px solid black;
}

/*
 *  Style pour les sous-titres et doublage
 *
 * Rappel : 'doublage':not(.caption) => doublage
 *          doublage.caption => sous-titre
 */
div#doublage, div#caption {
  position          : absolute;
  z-index           : 500;
}
div#caption > span#caption_text {
  background-color  : #787878;
}
div#doublage, div#caption > span#caption_text {
  padding           : 4px 16px;
}
div#doublage {
  left      : 20px;
  height    : 4em;
  bottom    : 4px !important;
  width     : 860px;
  color     : yellow;
  font-size : 13.3pt;
  background-color:black;
}
/* Les DIV contenant chaque doublage */
div#doublage > div {
  position    : absolute ;
  top         : 4px;
  left        : 16px;
  line-height : 1.4em;
}
div#caption {
  text-align  : center;
}
div#caption > span#caption_text {
  display     : inline-block;
  color       : white;
}

/* Le point de repère */
div#point_repere_anim {
  position  : absolute;
  width     : 4px;
  height    : 4px;
  background-color:red;
}