section#section_console {
  position  : fixed;
  top       : 8px;
  right     : 8px;
  width     : 348px;
  height    : 450px;
  border    : 0;
  padding   : 0;
  color     : white;
  background-color  : white;
}

section#section_console textarea#console {
  background-color  : black;
  color             : white;
  font-family       : Courier;
  font-size         : 11.6pt;
  width             : calc(100% - 40px);
  padding           : 20px;
  border            : 0;
  resize            : none;
}

/* Style de la sélection */
textarea#console::selection {
  background  : white;
  color       : green;
}
textarea#console::-moz-selection {
  background  : white;
  color       : green;
}
