section#controller {
  position  : fixed; 
  top       : 445px;
  left      : 300px;
  width     : 340px;
  background-color  : #A0A0A0;
}

section#controller label {
    font-size: 10pt;
}
section#controller div.buttons {
  text-align        : right;
  padding           : 9px 10px;
  color             : white;
}

input#btn_anim_start {
  background-color  : #00A200;
  color             : #FFFFFF;
}

section#controller div.buttons input[type="button"]{
  font-size : 14pt;
}
