section#controller {
  position  : fixed; 
  top       : 468px;
  right     : 368px;
  width     : 340px;
  background-color  : #A0A0A0;
}

section#controller label {
    font-size: 10pt;
}
section#controller div.buttons {
  text-align        : right;
  padding           : 9px 10px;
  color             : white;
}

section#controller img.btn_controller {
  width             : 52px;
  vertical-align    : sub;
}

section#controller select#play_type,
section#controller select#play_type * {
  font-size   : 14pt;
  border      : 0;
  text-align  : center;
}