section#controller {
  position  : fixed; 
  bottom    : 10px;
  right     : 40px;
  width     : 240px;
  background-color  : #A0A0A0;
}

section#controller span#mark_play_type {
  position  : absolute;
  top       : 4px;
  left      : 4px;
  z-index   : 1;
}
section#controller label {
    font-size: 10pt;
}
section#controller div.buttons {
  text-align        : right;
  padding           : 9px 10px;
  color             : white;
}

section#controller img.btn_controller {
  width             : 52px;
  vertical-align    : sub;
}