section#infos {
  position      : fixed;
  display       : none;
  top           : 100px;
  left          : 200px;
  width         : 260px;
  padding       : 8px;
  font-family   : Courier;
  font-size     : 7.5pt;
  max-height    : 200px;
  overflow      : auto;
  background-color:#CCC;
}

section#infos > div.odd, section#infos > div.even {
  padding : 1px 8px
}
section#infos > div.odd {
  background-color    : white;
}
section#infos > div.even {
  background-color    : #ddd;
}
section#infos label {
  display       : inline-block;
  width         : 120px;
  text-align    : left;
  padding-right : 4px;
}
section#infos span.value {
  font-weight     : bold;
}