/* Cf. aussi staff.css */
img.note {
  height    : 14.3px;
  z-index   : 10;
}


/*
  * Pour les hampes
  *
  */
div.stem {
  position      : absolute ;
  width         : 10px ;
  border-left   : 2px solid black;
}


/*
  * Pour les ligatures
  *
  */
div.beam {
  position      : absolute;
  height        : 5px;
  border-top    : 3px solid black;
}