section#app_popups {
  position    :absolute;
  left        : 10px;
  top         : 0px;
  z-index     : 1000;
}

/* Menu désactivé */
li.disabled {
  color       :#ccc;
  font-style  :italic;
}
li.disabled:hover {
  cursor      :inherit !important;
}
section#app_popups ul.app_popup,
section#app_popups ul.app_sous_popup {
/*  position          : absolute;
  top               : 0;*/
  list-style        : none;
  padding           : 0;
  margin            : 0;
  height            : 18pt;
  display           : block;
  float             : left;
  font-family       : 'Lucida Grande';
  font-size         : 11pt;
  overflow          : hidden;
  background-color  : white;
}
section#app_popups ul.app_popup {

}
section#app_popups ul.app_popup li {
/*  padding :1px 12px 4px;*/
  padding-top :1px;
  margin      :0;
}
section#app_popups ul.app_popup li.selected {
  background-color : #cfc !important;
}
section#app_popups ul.app_popup li.selected:hover {
  color : black !important;
}
section#app_popups ul.app_popup li:not(.separateur):not(.items_title) {
  cursor  :pointer;
}
/*Le premier Item (nom du menu)*/
section#app_popups ul.app_popup li.first {
  text-align    : center;
/*  background-color  : #ccc;*/
  width             : 85px !important;
}
section#app_popups ul.app_popup li:not(.first) {
  padding       :1px 12px 4px;
  width         :250px;
  font-size     :0.9em;
  background-color :white;
  border-left   : 1px solid #DDD;
  border-right  : 1px solid #DDD;
}
/* Le dernier menu (pour la bordure inférieure)*/
section#app_popups ul.app_popup li.last {
  border-bottom  : 1px solid #DDD;
}
section#app_popups ul.app_popup li:not(.first):not(.separateur):not(.items_title):not(.last):not(.disabled):hover {
  background-color  :#40609F;
  color             :white;
}
section#app_popups ul.app_popup:hover {
  height    : auto;
  overflow  : visible;
}

/*ul.app_popup li:not(.first){ display: none;}

ul.app_popup:hover li{ display: block;}*/

section#app_popups > ul > li.separateur {
  height        :12px;
}

section#app_popups > ul > li.items_title {
  font-style    : italic;
  font-weight   : bold;
  color         : #777;
}

/**
  * Les sous-popups (par exemple "Ouvrir récent >")
  */
section#app_popups ul.app_sous_popup {
  position    : absolute;
  top         : 0px;
  left        : 268px;
  height      : auto;
  border-left : 1px solid #ccc;
}
/* Un item qui ouvre un sous-popup */
section#app_popups li.items {
  display   : block;
  position  : relative;
}
section#app_popups li.items > ul.app_sous_popup{
  display:none;
}
ul.app_popup li.items:hover > ul.app_sous_popup {
  display:block !important;
}
section#app_popups li.items > ul.app_sous_popup li {
  width   : 250px;
  color   : black;
}
section#app_popups li.items > ul.app_sous_popup#recent_anims li {
 width    : 450px !important; 
}