section#section_console {
  position : fixed;
  top      : 350px;
  left     : 310px;
  width    : 580px;
  background-color  : black;
  color             : white;
}

section#section_console textarea#console {
  background-color:inherit;
  color:inherit;
  width:100%; height:100px;
  font-family : Courier;
  font-size   : 14pt;
  padding     : 12pt;
}

section#section_console div.buttons {
  text-align        : right;
  background-color  : grey;
}

section#section_console div.buttons input[type="button"]{
  font-size : 14pt;
}