div.staff, img.cle, img.note, img.alteration, img.supline, img.silence, img.barre {
  position    : absolute;
}

img.staffline {
  position  : absolute;
  width     : 96%;
  height    : 2px;
  left      : 14px;
}

img.cle {
  width:32px;
}

img.supline {
  width   : 20px;
  height  : 2px;
}