div.staff, img.cle, img.note, img.alteration, img.silence, img.barre,
div.text, img.circle, img.arrow {
  position    : absolute;
  opacity     : 0;
}
img.supline {
  position    : absolute;
}
div.staff {
  width     :100%;
  left      :0px !important;
}
img.staffline {
  position  : absolute;
  width     : 96%;
  height    : 2px;
  left      : 14px;
}

img.cle {
  width:32px;
}

img.supline {
  width   : 20px;
  height  : 2px;
  z-index : 0;
}