/* Cf. aussi dans staff.css */
div.text {
  background-color  : transparent;
  padding           : 4px;
}


/* Style pour un NOM D'ACCORD */
div.text.chord {
  font-family     : Verdana;
  font-size       : 14pt;
  font-weight     : bold;
}
/* Style pour CHIFFRAGE D'HARMONIE et CADENCE */
div.text.harmony, div.text.cadence {
  font-family   : 'Times New Roman';
  font-variant  : small-caps;
  font-size     : 18pt;
  font-weight   : bold;
}

/* Style pour un CHIFFRAGE D'HARMONIE */
div.text.harmony {
  padding       : 20px 0;
  text-align    : center;
}
/* Style pour une CADENCE */
div.text.cadence {
  padding       : 20px 10px 1px;
  text-align    : right;
  border-width  : 0 1px 1px 0;
  border-style  : solid;
  border-color  : #000;
}


div.text.harmony div.renversement,
div.text.cadence div.renversement {
  display     : block;
  font-family : Courier;
  font-size   : 14pt;
  height      : 7.8pt;
  text-align  : center;
}
/* Style pour un DOIGTÉ */
div.text.finger {
  background-image:url(img/divers/cercle_doigte.png);
}