/* Cf. aussi dans staff.css */
div.text {
  background-color  : transparent;
  padding           : 4px;
}


/* Style pour un NOM D'ACCORD */
div.text.chord {
  font-family     : Verdana;
  font-size       : 12pt;
}
/* Style pour CHIFFRAGE D'HARMONIE et CADENCE */
div.text.harmony, div.text.cadence, div.text.modulation {
  font-family   : 'Times New Roman';
}
div.text.harmony, div.text.cadence {
  font-variant  : small-caps;
  font-size     : 18pt;
  font-weight   : bold;
}
span.chiffrage {
  font-size     : 0.7em;
  font-variant  : normal !important;
}

/* Style pour un CHIFFRAGE D'HARMONIE */
div.text.harmony {
  padding       : 10px 0;
  text-align    : center;
}
/* Style pour une CADENCE */
div.text.cadence {
  padding       : 10px 10px 1px;
  text-align    : right;
  border-width  : 0 1px 1px 0;
  border-style  : solid;
  border-color  : #000;
}
/* Style pour une MODULATION */
div.text.modulation {
  border-left       : 2px solid #AAAAAA;
  height            : 64px;
}
div.text.modulation div.mark_modulation {
  position          : absolute;
  top               : -18px;
  left              : -16px;
  min-width         : 56px;
  border-bottom     : 2px solid;
  transform         : rotate(-38deg);
  transform-origin  : 0 0 0;
  padding-bottom    : 0px;
  font-size         : 14pt;
  font-weight       : bold;
  font-variant      : small-caps;
}
/* Le "texte_after" pour une marque de modulation */
div.text.modulation div.aftertxt {
  position          : absolute;
  top               : 0px;
  left              : 2px;
  transform         : rotate(-38deg);
  transform-origin  : 0 0 0;
  padding-bottom    : 0px;
  white-space       : nowrap;
  font-size         : 9pt;
}

div.text.harmony div.renversement,
div.text.cadence div.renversement {
  display     : block;
  font-family : Courier;
  font-size   : 11pt;
  height      : 7.8pt;
  text-align  : center;
}
/* Style pour un DOIGTÉ */
div.text.finger {
  background-image:url(img/divers/cercle_doigte.png);
}