section#tools {
  position  : fixed;
  top       : 4em;
  left      : 10em;
  width     : 494px;
  background-color  : #ccc;
  padding   : 20px;
  z-index   : 500;
}

section#tools * {
  font-size : 14px;
}

section#tools div.titre {
  font-weight     :bold;
  margin-bottom   :1em;
}
section#tools div.buttons {
  text-align    : right;
}

section#tools select#animations {
  width             :324px;
}

/* La règle à mesurer */
div#regle {
  position : absolute;
  height   : 20px;
  width    : 205px;
  z-index  : 4000;
  border-bottom :1px solid;
}
/* Graduation */
div#regle div.divregle {
  position      :absolute;
  bottom        :0px;
  height        :10px;
  width         :11px;
  border-width  :0 1px 0px 1px;
  border-style  :solid;
  border-color  :#000;
}
/* Valeur de la graduation */
div#regle div.divregle div.mesregle {
  position      :absolute;
  top           :-7px;
  left          :-4px;
  font-size     :5pt;
}
div#regle div.divregle:hover {
  border-left-color :red !important;
}
div#regle div.divregle:hover div.mesregle {
  font-size     :12pt;
  top           :-24px;
  width         :40px;
  height        :20px;
}