section#tools {
  position : fixed;
  bottom   : 0;
  right    : 0;
  width    : 494px;
  background-color  : #ccc;
  overflow  : scroll;
  padding   : 20px;
}

section#tools * {
  font-size : 14px;
}

section#tools input[type="button"] {

}

section#tools select#animation {
  background-color: #EBDECC;
  height: 25px;
  width: 324px;
}
section#tools input[type="button"]#btn_save_anim {
  background-color : #cfc;
}