.fleft {float:left;}
.fright{float:right;}
.left{text-align:left;}
.right{text-align:right;}

.center {text-align:center;}
div.inline {display:inline-block;}

.resizable {resize:both;}

div#decompte {
  position    : absolute;
  top         : 8px;
  left        : 9px;
  color       : red;
  padding     : 5px 11px 0px;
  border      : 2px solid;
  background-color: #FDD;
  font-size     : 18pt;
  font-weight   : bold;
  border-radius : 20px;
}
